{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
  function goToNewPage()
  {
    var stock_id = arguments[0].value;
    var opt = arguments[1].value;
    var time = arguments[2].value;
    var pre = "/predict/";
    var his = "/history/";
    var curr="/current/";

    if(opt==1)
      var final = curr+stock_id;
    else if(opt==2)
      var final = his+stock_id;
    else
      var final = pre+stock_id+"/"+time;


        //var final = str.concat(stock_id)
        
        window.location.href = final;
      }
    </script>

    <div class="col-lg-3" align="left">

      <h3>Search</h3>
      {% csrf_token %}
      <input type="text" id="search" name="search" />


      <ul id="search-results"></ul>

      {% if user.is_authenticated %}

      <h2>Your Current Portfolio</h2>
      {% for d in dicy.0 %}
      <ul class="list-group">
        <li class="list-group-item"><a href="/remove_from_portfolio/{{d.id}}/{{user.id}}">{{d.stock_name}}</a></li>
      </ul>
      {% endfor %}
      {% endif %}

    </div>
<div class="col-lg-4 col-lg-offset-1">   
    <form name = "f">    
        <div class="row top-buffer">
          <select id="share" class="form-control input-lg" name="stocks">
            {% for d in dicy.0 %}
            <option value="{{d.id}}" selected="selected">{{d}}</option>
            <!--<option value="{{movie.key}}">Movie {{movie.id}}: {{movie.name}}</option>-->
            {% endfor %}
          </select>
        </div>

        <div class="row top-buffer">
          <select class="form-control input-lg" id="option" name="field1" id='options'>
            <option value=1>Current Price</option>
            <option value=2>Last 3 years data</option>
            <option value=3>Predict</option>
          </select>
        </div>

        <div class="row top-buffer">
          <select class="form-control input-lg" id="strategy" name="field2" disabled>
            <option value=1>Long term</option>
            <option value=2>Short Term</option>
          </select>
          <div class="row top-buffer1">
          </div>
        </div>

        <input class="btn btn-default" type="button" onclick="goToNewPage(document.f.stocks, document.f.field1, document.f.field2)" value = "GO!">

        {% if user.is_authenticated %}

        {% if dicy.1 %}

        {% ifequal dicy.1|length 2 %}
        <div class="row top-buffer">
          <div id="result" class="panel panel-info" name="output">
            <div class="panel-heading">
              <h3 class="panel-title">{{dicy.1.0}}</h3>
            </div>
            <div class="panel-body">
             The current price is ${{dicy.1.1}}
           </div>
         </div>
       </div>

       {% else %}

       <div class="row top-buffer">
        {% if dicy.1.1.1 > 0 %}
        <div id="result" class="panel panel-success" name="output">
          <div class="panel-heading">
            <h3 class="panel-title">{{dicy.1.0}}</h3>
          </div>
          <div class="panel-body">
          <span class="glyphicon glyphicon-star"></span>
           {{dicy.1.2}} ${{dicy.1.1.0}}
         </div>
       </div>
     </div>
     {% else %}
     <div id="result" class="panel panel-danger" name="output">
      <div class="panel-heading">
        <h3 class="panel-title">{{dicy.1.0}}</h3>
      </div>
      <div class="panel-body">
       {{dicy.1.2}} ${{dicy.1.1.0}}
     </div>
   </div>
 {% endif %}

 {% endifequal %}


 {% endif %}
 {% endif %}
</form>
</div>
<div class="col-lg-2 col-lg-offset-2"  align="center">
  <h1>
    Trending
  </h1>
{% if dicy.2 %}
{% for d in dicy.2 %}
{% if d.1 > 0 %}
        <div id="result" class="panel panel-success" name="output">
          <div class="panel-heading">
            <h3 class="panel-title">{{d.0}}</h3>
          </div>
          <div class="panel-body">
           {{d.1}}% 
         </div>
       </div>
{% else %}
<div id="result" class="panel panel-danger" name="output">
          <div class="panel-heading">
            <h3 class="panel-title">{{d.0}}</h3>
          </div>
          <div class="panel-body">
           {{d.1}}%
         </div>
       </div>
{% endif %}

{% endfor %}

{% else %}

<p> You need to have more than 4 stocks in your portfolio to enable this feature.</p>
{% endif %}
</div>

{% endblock %}